body{margin-top:0; margin-left:0; margin-right:0; margin-bottom:0}

.cetak table {
	font-family: "Courier New", Courier, monospace;
	font-size:14px;
	text-decoration:none;
	color:black;
	border:none;
	padding:2px 2px;
	width:100%;
}
.cetak hr {
	border : none;
	border-top : dashed 1px #000000;
	padding:0;
	margin:5px 0px 5px 0px;
}

.cetak a:link{font-family: Courier New, Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none;color:black;}
.cetak a:hover{font-family: Courier New, Arial, Helvetica, sans-serif; font-size:14px; text-decoration:underline;color:black;}
.cetak a{font-family: Courier New, Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none; color:black;}

.borBoth {
	border : none;
	border-right : dashed 1px #000000;
	border-left : dashed 1px #000000;
}
.borBothBottom {
	border : none;
	border-right : dashed 1px #000000;
	border-left : dashed 1px #000000;
	border-bottom : dashed 1px #000000;
}
.borBottom {
	border : none;
	border-bottom : dashed 1px #000000;
}
.borBottomLeft {
	border : none;
	border-bottom : dashed 1px #000000;
	border-left : dashed 1px #000000;
}
.borBottomRight {
	border : none;
	border-bottom : dashed 1px #000000;
	border-right : dashed 1px #000000;
}
.borLeft {
	border : none;
	border-left : dashed 1px #000000;
}
.borRight {
	border : none;
	border-right : dashed 1px #000000;
}
.borTop {
	border : none;
	border-top : dashed 1px #000000;
}
.borTopBottom {
	border : none;
	border-top : dashed 1px #000000;
	border-bottom : dashed 1px #000000;
}
